SCRAPING_URL=

POSTGRES_USER=
DB_PASSWORD=
POSTGRES_DB=

DATABASE_URL=

PORT=

IP_SUPPORT=

ORIGINAL_WEBSITE=

SCRAPE_MODE=
PUPPETEER_EXECUTABLE_PATH=

SECRET_KEY_RECAPTCHA=
GOOGLE_API_URL=

VITE_API_URL=
VITE_CAPTCHA_SITE_KEY=
